fastapi
uvicorn[standard]
streamlit
requests
plotly
streamlit-extras
torch
transformers
sentencepiece
scikit-learn
pandas
numpy
matplotlib
joblib
psutil
chromadb
PyMuPDF
python-multipart
sentence-transformers
langchain
groq